@use 'app/shared/styles/variables' as var;

.cta-box {
  background-color: #f5f5f5; // Pure white background
  color: var.$black;
  padding: 3rem 2.5rem;
  border-radius: var.$radius-sm;
  box-shadow: var.$shadow-md;
  border: 1px solid #eee;
  position: sticky;
  top: 100px;

  h3 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
    letter-spacing: 1px;
    color: #000;
  }

  p {
    font-size: 0.95rem;
    line-height: 1.6;
    color: #666;
    margin-bottom: 2rem;
  }

  .cta-actions {
    ::ng-deep .full-width {
      width: 100%;
      display: block;

      .cta-button {
        width: 100%;
        border-radius: var.$radius-sm;
        border: 1px solid #ddd;

        &:hover {
          background-color: #f9f9f9;
        }
      }
    }
  }
}
