@use 'app/shared/styles/variables' as var;
@use 'app/shared/styles/animations';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var.$font-main;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var.$black;
  line-height: 1.5;
}

h1 {
  font-family: var.$font-title;
}

::selection {
  background-color: #4dbfb0;
  color: #ffffff;
}
